<app-admin-navbar></app-admin-navbar>
<br>
<br>
<div>
    <div class="float-right">
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#form" aria-expanded="false" aria-controls="form">
            <i class="fa fa-plus">
            Import From Excel
        </i></button>
        <div class="collapse" id="form">
            <form>
                <div class="card-body">
                    <input type="file" (change)="handleUpload($event)" class="btn btn-warning">
                </div>  
            </form>  
        </div>
    </div>

    <div>
        <h2>Stock Price Details</h2>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Company Code</th>
            <th scope="col">Share Price</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of stockPrice">
            <td>{{ s.id }}</td>
            <td>{{ s.companycode }}</td>
            <td>{{s.shareprice}}</td>
            <td>{{s.datee}}</td>
            <td>{{s.time}}</td>
          </tr>
        </tbody>
      </table>
</div>


