<app-admin-navbar></app-admin-navbar>
<div  class="d-flex justify-content-center mt-5"> 
<div class="card">
    <p class="h4 card-header">Add New IPO Detail</p>
    <div class="card-body bg-light">
        <p class="card-text h6">Please fill the details:</p>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="form-group">
                    <span class="form-group-text">Price per Share</span>
                    <input type="number" class="form-control" 
                    name="ipodetail.pricePerShare" 
                    [(ngModel)]="ipodetail.pricePerShare" 
                    required/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                  <label>Total number of Shares</label>
                  <input type="number" class="form-control"
                  name="ipodetail.totalNumberOfShares" 
                  [(ngModel)]="ipodetail.totalNumberOfShares" 
                    required/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                  <label>Open Date</label>
                  <input type="date" class="form-control" 
                     name="ipodetail.openDateTime" 
                    [(ngModel)]="ipodetail.openDateTime" 
                    required/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Remarks</label>
                    <input type="text" class="form-control"
                    name="ipodetail.remarks" 
                    [(ngModel)]="ipodetail.remarks" 
                    required/>
                </div>
            </div>
            <div class="d-flex no-gutters">
                <div class="col">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-danger ml-2">Reset</button>
                </div>
                <div>
                    <button [routerLink]="['/admin/list-ipo']" class="btn btn-secondary">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
