<div  class="d-flex justify-content-center mt-5">
<div class="card">
    <p class="h4 card-header">Update StockExchange</p>
    <div class="card-body bg-light">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group mt-3 mb-3">
                <div class="form-group">
                    <span class="form-group-text">Stock Name</span>
                    <input type="text" class="form-control" 
                    name="stockExchange.name" 
                    [(ngModel)]="stockExchange.name" 
                     #stockName="ngModel"
                    [ngClass]="{'is-invalid':stockName.errors && stockName.touched}"
                    minlength=3
                    required/>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <span class="form-group-text">Address </span>
                    <textarea class="form-control" 
                    name="stockExchange.address" 
                    [(ngModel)]="stockExchange.address" 
                     #stockAddress="ngModel"
                    [ngClass]="{'is-invalid':stockAddress.errors && stockAddress.touched}"
                    minlength=3
                    required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <span class="form-group-text">City </span>
                    <input type="text" class="form-control" 
                    name="stockExchange.city" 
                    [(ngModel)]="stockExchange.city" 
                     #stockCity="ngModel"
                    [ngClass]="{'is-invalid':stockCity.errors && stockCity.touched}"
                    minlength=3
                    required/>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <span class="form-group-text">Country </span>
                    <input type="text" class="form-control" 
                    name="stockExchange.country" 
                    [(ngModel)]="stockExchange.country" 
                     #stockCountry="ngModel"
                    [ngClass]="{'is-invalid':stockCountry.errors && stockCountry.touched}"
                    minlength=3
                    required/>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <span class="form-group-text">Remarks </span>
                    <input type="text" class="form-control" 
                    name="stockExchange.remarks" 
                    [(ngModel)]="stockExchange.remarks" 
                     #stockRemarks="ngModel"
                    [ngClass]="{'is-invalid':stockRemarks.errors && stockRemarks.touched}"
                    minlength=3
                    required/>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <span class="form-group-text">Brief </span>
                    <input type="text" class="form-control" 
                    name="stockExchange.brief" 
                    [(ngModel)]="stockExchange.brief" 
                     #stockBrief="ngModel"
                    [ngClass]="{'is-invalid':stockBrief.errors && stockBrief.touched}"
                    minlength=3
                    required/>
                </div>
            </div>

            <div class="d-flex no-gutters">
                <div class="col">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="reset" class="btn btn-danger ml-2">Reset</button>
                </div>
                <div>
                    <button [routerLink]="['/admin/manage-exchange']" class="btn btn-secondary">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
